fastapi
uvicorn
streamlit
requests
python-dotenv
pydantic
langchain
langchain-community
langchain-google-genai
langchain-tavily
langgraph
langchain-groq
google-generativeai
pymupdf
PyPDF2
python-multipart
torch
torchvision
transformers
Pillow
opencv-python 
pytesseract
faiss-cpu
numpy
python-magic-bin
loguru
sentence-transformers 
langchain-huggingface
accelerate # For faster model loading