fastapi
uvicorn
streamlit
requests
python-dotenv
pydantic
langchain
langchain-community
langchain-google-genai
langgraph
langchain-groq
google-generativeai
pymupdf
PyPDF2
python-multipart
torch
torchvision
transformers
Pillow
opencv-python 
pytesseract
faiss-cpu
numpy
python-magic-bin # For Windows file type detection
loguru